<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testawal">
    <!-- slider artikel -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestAwal"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".OrderProcess"
            android:exported="true" />
        <activity
            android:name=".CategoryLain"
            android:exported="true" />
        <activity
            android:name=".CategorySepatu"
            android:exported="true" />
        <activity
            android:name=".CategoryBaju"
            android:exported="true" />
        <activity
            android:name=".Kiloan"
            android:exported="true" />
        <activity
            android:name=".Satuan"
            android:exported="true" />
        <activity
            android:name=".Pickup"
            android:exported="true" />
        <activity
            android:name=".ServiceKilat"
            android:exported="true" />
        <activity
            android:name=".EditLaundry"
            android:exported="true" />
        <activity
            android:name=".ProfileLaundry"
            android:exported="true" />
        <activity
            android:name=".EditUser"
            android:exported="true" />
        <activity
            android:name=".ProfileUser"
            android:exported="true" />
        <activity
            android:name=".LaundryMain"
            android:exported="true" />
        <activity
            android:name=".HomeLaundryList"
            android:exported="true" />
        <activity
            android:name=".AboutUs"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".Registrasi"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>